#main-canvas{
	float: left;
}
#rightArea{

}
span.staticInfo {
	display: block;
	padding: 0 0 0 10px;
	margin: 0px 0 10px 0;
	border-bottom: 1px dotted #234487;
	border-left: 5px solid #234487;
	font-size: 123%;
	font-weight: bold;
	text-shadow: 1px 1px 1px #cccccc;
}

body {
    background: RGB(246, 246, 246) repeat scroll top left;
}
div#all-area{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
div#gameArea{
	height:80%;
}
div#main {
    text-align: center; 
    margin-top: 20px;
    margin-left: 10px;
	height: 100%;
	font: normal normal 12px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	color: #222;
	font: normal normal 12px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
}


div#logArea {
	width: 65%;
    height: 80%;
	float: left;
	overflow: scroll;
	overflow-y: scroll;
	padding: 10px 15px;
	background: white;
	border: 1px solid #CCC;
	border-radius: 5px;
	background: white;
}

div#logArea p {
	border: 1px solid lightGrey;
	border-radius: 5px;
}

div#rightArea {
	width: 27%;
	height: 100%;
	margin: 0 0 0 72%;
}

span.logName {
	font: 800 12px/1.9 arial, sans-serif;
	margin-left: 5px;
	margin-right: 10px;
}


div#chatArea {
	clear: both;
    height: 50px;
    padding: 5px;
	margin: 0px;
    	background: white;
	border: 1px solid #CCC;
	border-radius: 5px;
	background: white;
}

textarea#chatInputBox {
	width: 40%;
	height: 45px;
}
section {
	width: 50%;
	margin: 0 auto;
    margin-bottom: 10px;
	}
h3 {
	margin: 0;
	padding: 1px 0;
	background: #009933;
	color: white;
	position: relative;
}
	h3:before, h3:after {
	content: "";
	background: #009933;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 9999px;
}
	h3:before {
	right: 100%;
}
	h3:after {
	left: 100%;
}
#cssmenu ul {
	margin: 0;
	padding: 7px 6px 0;
	background: #7d7d7d url(/images/overlay.png) repeat-x 0 -110px;
	line-height: 100%;
	border-radius: 1em;
	font: normal .8em/1.5em Arial, Helvetica, sans-serif;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);	
}
#cssmenu li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}
#cssmenu a,
#cssmenu a:link {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none; display: block;
	padding:  8px 20px;
	margin: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
}
#cssmenu li:hover > a {
	background: #666 url(/images/overlay.png) repeat-x 0 -40px;
	color: #444;
	border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	box-shadow: 0 1px 1px rgba(0,0,0, .2);
	text-shadow: 0 1px 0 rgba(255,255,255, 1); }
#cssmenu ul:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;
	height: 30px;
	background: -moz-linear-gradient(
		top,
		#ffb300 0%,
		#f06c00);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffb300),
		to(#f06c00));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #f06c00;
	-moz-box-shadow:
		2px 3px 2px rgba(214,214,214,1),
		inset 0px 2px 0px rgba(255,203,082,1);
	-webkit-box-shadow:
		2px 3px 2px rgba(214,214,214,1),
		inset 0px 2px 0px rgba(255,203,082,1);
	box-shadow:
		2px 3px 2px rgba(214,214,214,1),
		inset 0px 2px 0px rgba(255,203,082,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}

div#chatArea ul{
    list-style:none;
    padding:0;
    margin:0;
}

div#chatArea li{
    display:inline;
    margin: 0;
    padding: 0;
}